*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #18161a;
}
header{
    width: 100%;
    position: fixed;
}
.nav{
    background-color: #666666;
    display: flex;
    width: auto;
    margin: auto;
    gap: 30%;
}
.logo img{
    width: 100px;
    height: 100px;
    justify-content: flex-start             ;
}
.menu{
    display: flex;
    gap: 15%;
    align-items: center;
    list-style: none;
    text-decoration: black;
}
.menu a {
    text-decoration: none;
    color: black;
}

.inicio {
    padding-top: 8%;
    display: flex;
}


main p, h1, h2 {
    color: white;
}
h1{
font-size: 50px;
margin-top: 10%;
width: 150%;
height: 20px;
padding-right: 200px;
}
.paragrafo1 p{
margin-top: 30%;
height: 100px;
width: 300px;
padding-top: 110px;
padding-right: 100px;
padding-left:0;
}
 
.img1 img {
    max-width: 900px;
    width: 400px;
    height: 400px;
    padding-right: 0;
}