*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #18161a;
}
header{
    width: 100%;
    position: fixed;
}
.nav{
    background-color: #666666;
    display: flex;
    width: auto;
    margin: auto;
    gap: 400px;
}
.logo img{
    margin-bottom: 5%;
    width: 100%;
    height: 80px;
    justify-content: flex-start; 
    margin-left: 15px;
}
.menu{
    display: flex;
    gap: 15%;
    align-items: center;
    list-style: none;
    text-decoration: white;
}
.menu a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.inicio {
    padding-top: 8%;
    display: flex;
}


main p, h1, h2 {
    color: white;
}
.container1{
    display: flex;
    border: wheat solid 2px;
    max-height: 40%;
}
.titulo1{
    display: flex;
    margin-top:19% ;
    margin-left: 25px;
    flex-direction: column;
    width: 50%;
    /* border: red solid; */
    flex-direction: column;
}
.titulo1 h1{
font-size: 90px;
height: 0%;
width: 100%;
margin-left: 80px;
}
.titulo1 button {
    margin-left: 10%;
    margin-top: 46%;
    height: 5%;
    width: 15%;
    border-radius: 30px;
}

.img1{
    border: red solid 1px;
    display: flex;  
    padding-right: 0;
    white-space: nowrap;
    padding-top: 15% ;
}
.img1 img{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container2 {
margin-top: 10%;
}
.titulo2{
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 12%;
    border: red solid;
}
.titulo2 h1{
font-size: 75px;
}
.titulo2 p{
    margin-top: 1%;
    font-size: 150%;
}
.img2 {
     border: red solid 1px;
    display: flex;  
    padding-right: 0;
    white-space: nowrap;
    padding-top: 15% ;
}
.img2 img{
    width: 95%;
    height: 95%;
}
img{
    margin-top: 7%  ;
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}