*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #18161a;
}
header{
    width: 100%;
    position: fixed;
}
.nav{
    background-color: #666666;
    display: flex;
    width: auto;
    margin: auto;
    gap: 400px;
}
.logo img{
    width: 100px;
    height: 100px;
    justify-content: flex-start; 
    margin-left: 15px;
}
.menu{
    display: flex;
    gap: 15%;
    align-items: center;
    list-style: none;
    text-decoration: white;
}
.menu a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.inicio {
    padding-top: 8%;
    display: flex;
}


main p, h1, h2 {
    color: white;
}
.container1{
    display: flex;
    border: wheat solid 2px;
    max-height: 40%;
}
.titulo1{
    margin-top:15% ;
    display: flex;
    flex-direction: column;
    width: 60%;
    border: red solid;
    flex-direction: column;
}
.titulo1 h1{
font-size: 75px;
}
.titulo1 p{
    margin-top: 1%;
    font-size: 150%;
}
 
.img1{
    display: flex;
        /* width: 50%;
        height: 50%; */
    padding-right: 0;
    padding-top: 5% ;
}
.img1 img{
    display: flex;
    margin-top: -1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
